@using MoviesCollection.Models

<div class="movie-detail">
    @*<span>@title</span>
    <span>@description</span>
    <button @onclick="@(() => OnClick.InvokeAsync(title))">Click me</button>*@
    
    <img class="movie-img" src="@MovieImageUrl"/>
    <h2 class="movie-title">@Movie.title</h2>
</div>

@code {
    const string IMGPATH = "https://image.tmdb.org/t/p/w1280";

    //[Parameter]
    //public string title { get; set; } = "Product detail";

    //[Parameter]
    //public string description { get; set; } = "description";

    //[Parameter]
    //public EventCallback<string> OnClick { get; set; }

    private string MovieImageUrl => IMGPATH + this.Movie.poster_path;

    [Parameter]
    public MovieDetailModel Movie { get; set; }
}